body {
  padding-top: 50px;
}

.logo{
    text-align: center;
}

.content-right{
}
.navigation{
    display: table;
    background: #000000;
    width: 100%;
    min-height: 450px;

}

.navigation ul{
    padding: 0;
}

.navigation li{
    list-style: none;
    padding: 20px 40px;
}

.navigation li:hover{
    background: #9e2d3b;
}

.navigation a {
    color: #ffffff;
    font-size: 16px;
}
